<main>
  <section class="form-container">
    <div class="logopluv"><img src="assets/svg/logopluv.svg" alt="PluvNet Logo" class="logo"></div>
    <h2>{{title}}</h2>

    <ng-content></ng-content> <!-- Transcludes the form from login/signup component -->

    <div class="btn-wrapper">
      <button
        class="btn-primary"
        (click)="submit()"
        [disabled]="disablePrimaryBtn">
        {{primaryBtnText}}
      </button>

      <ng-container *ngIf="secondayBtnText"> <!-- Only show divider and secondary button if secondayBtnText is provided -->
        <div class="divider">
          <span>OU</span>
        </div>
        <button class="btn-secondary" (click)="navigate()">
          {{secondayBtnText}}
        </button>
      </ng-container>
    </div>
  </section>
</main>