<app-default-login-layout
  title="Faça login com sua conta"
  primaryBtnText="Faça login"
  secondayBtnText="Faça seu cadastro"
  (submit)="submit()"
  (navigate)="navigate()"
  [disablePrimaryBtn]="!loginForm.valid"
>
  <form [formGroup]="loginForm" (ngSubmit)="submit()">
    <app-primary-input
      formControlName="email"
      inputName="email"
      type="email"
      label="Email"
      placeholder="alex@email.com"
    >
      <img src="assets/svg/email.svg" alt="Email icon" /> <!-- Update path if needed -->
    </app-primary-input>

    <app-primary-input
      formControlName="password"
      inputName="password"
      label="Senha"
      placeholder="Enter your password"
      type="password"
    >
      <img src="assets/svg/password.svg" alt="Password icon" /> <!-- Update path if needed -->
    </app-primary-input>

    <span class="forgot-password" (click)="navigateToForgotPassword()">Esqueceu sua senha?</span>
  </form>
</app-default-login-layout>