@import "../../../styles/variables.scss"; // Adjust path as needed

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 18px; // Spacing between input fields
}

.forgot-password {
  display: block; // Make it a block to control alignment and margin better
  font-size: 13px;
  color: $primary-color;
  text-align: right;
  cursor: pointer;
  margin-top: -5px; // Pull it slightly closer to the password field
  margin-bottom: 5px; // Space before buttons

  &:hover {
    text-decoration: underline;
  }
}