<!-- app.component.html -->

<ng-container *ngIf="showAppShell; else authLayout">
  <!-- This is the main application shell -->
  <mat-sidenav-container class="app-container">
    <!-- Sidebar Navigation -->
    <mat-sidenav #sidenav mode="side" opened class="app-sidenav">
      <div class="sidenav-header">
        <img src="../assets/svg/logopluv.svg" alt="PluvNet Logo" class="logo">
      </div>
      <mat-nav-list>
        <!--
          HERE IS THE CHANGE!
          This link now only shows if the user's role is 'OWNER'.
        -->
        <a *ngIf="authService.currentUser()?.business_role === 'OWNER'"
           mat-list-item
           routerLink="/owner"
           routerLinkActive="active-link">
          <mat-icon matListItemIcon>view_list</mat-icon>
          <span matListItemTitle>Pluviômetros</span>
        </a>

        <!-- This link is visible to all authenticated users -->
        <a mat-list-item routerLink="/calendario" routerLinkActive="active-link">
          <mat-icon matListItemIcon>calendar_today</mat-icon>
          <span matListItemTitle>Calendário</span>
        </a>
      </mat-nav-list>
    </mat-sidenav>

    <!-- Main Content Area -->
    <mat-sidenav-content class="app-sidenav-content">
      <mat-toolbar class="content-toolbar">
        <span class="spacer"></span>
        <!--
          BONUS: Dynamically display the user's name from the token
        -->
        <button mat-button [matMenuTriggerFor]="userMenu" class="user-menu-button">
          <img src="https://i.pravatar.cc/30?u=max.augusto" alt="User Avatar" class="user-avatar">
          <span>{{ authService.currentUser()?.name || 'Usuário' }}</span>
          <mat-icon>arrow_drop_down</mat-icon>
        </button>
        <mat-menu #userMenu="matMenu">
          <button mat-menu-item routerLink="/profile">Perfil</button>
          <button mat-menu-item (click)="logout()">Sair</button>
        </mat-menu>
      </mat-toolbar>

      <div class="page-content-wrapper">
        <router-outlet></router-outlet> <!-- Outlet for shelled content -->
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</ng-container>

<ng-template #authLayout>
  <!-- This is where components like Login, Signup will render without the shell -->
  <router-outlet></router-outlet> <!-- Outlet for non-shelled content (login, signup) -->
</ng-template>